body {
  background: #eee;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.face {
  background: yellow;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid black;
}

.eye {
  width: 6px;
  height: 6px;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
}

.left {
  left: 32px;
  top: 26px;
}

.right {
  left: 54px;
  top: 18px;
}

.mouth {
  width: 30px;
  height: 10px;
  background: black;
  position: relative;
  top: 32px;
  left: 32px;
  border-radius: 0 0 45px 45px;
}

.pupil {
  width: 1px;
  height: 1px;
  background: black;
  position: relative;
  top: 1px;
  left: 1px;
  border: 1px solid black;
}
