.box {
  background-color: tomato;
  color: white;
  font-size: 150%;
  padding: 20px;
  border-radius: 5px;
}

.grid-area-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 400px auto 400px;
  grid-template-areas:
    "header header header"
    "sidebar1 main sidebar2"
    "footer footer footer";
}

.header-section {
  grid-area: header;
}

.sidebar1 {
  grid-area: sidebar1;
}

.main-content {
  grid-area: main;
}

.sidebar2 {
  grid-area: sidebar2;
}
.footer-section {
  grid-area: footer;
}
