/* .container {
  display: flex;
  outline: 5px solid brown;
} */

.container2 {
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
  background: red;
  font-size: 45px;
  flex-direction: column;
}
