body {
  background: rgb(230, 178, 230);
}

.container-center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-style {
  background: rgb(111, 190, 178);
  height: 300px;
  width: 500px;
  border: 10px solid lightgray;
  border-radius: 10px;
}

.form-group > input {
  height: 30px;
  border-radius: 5px;
}

.form-group > label {
  font-size: 1.2rem;
  margin-right: 10px;
}

.form-group > input[type="submit"] {
  height: 50px;
  width: 100%;
  background: lightsalmon;
}
