:root {
  --primary: #074f89;
  --secondary: #4f709c;
  --hover: rgb(239, 239, 132);
}
body {
  margin: 0;
}
header {
  background: var(--primary);
  padding: 50px;
  color: white;
}

/* Navigation Section */

.nav-container {
  display: flex;
  gap: 15px;
  background: var(--secondary);
  padding: 25px 0;
  margin-bottom: 10px;
}

#order-online {
  margin-left: auto;
}
nav > a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

nav > a:hover {
  color: var(--hover);
}

/* Ingredients and Direction Section */

.container {
  display: flex;
  gap: 10px;
  margin: 0 15px;
}
.justify-center {
  justify-content: center;
}
#ingredient-section {
  padding: 10px;
  border: 5px solid var(--primary);
  border-radius: 20px;
}

/* 
background color to be primary
text color to white
align the text to be in the center
padding 10px all around
get rid of the underline

*/
.btn {
  background: var(--primary);
  color: white;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

/* Create a pseudo class of hover background changes to our hover variable 
text color is black*/

.btn:hover {
  background-color: var(--hover);
  color: black;
}

/* Notes and Image Section */
.container-reverse {
  display: flex;
  margin: 0 15px;
}

#note-section {
  align-self: center;
}

.img-fluid {
  width: 100%;
  max-width: 450px;
  min-width: 400px;
}

.rounded {
  clip-path: circle();
}

@media screen and (max-width: 970px) {
  .container {
    flex-direction: column;
  }
  .container-reverse {
    flex-direction: column-reverse;
  }

  .rounded {
    clip-path: none;
  }

  .img-fluid {
    max-width: none;
  }
}
